{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Domain{% endtrans %} {{ entity }}</h1>
    {% set modalTarget = targetPrefix ~ "Modal" %}

        {% set modalTitle = 'Edit domain' %}
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Active{% endtrans %}</th>
            </tr>
            <tr>
                <td><a href="#" data-action="click->modal-loader#open" title="{% trans %}Edit{% endtrans %}" data-url="{{ path(VARS.PREFIX ~ 'edit', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.active ? '√' : '--' }}</td>
            </tr>
        </tbody>
    </table>

    {% set PREFIX = VARS.PREFIX %}
        <twig:BootstrapTabsComponent :VARS="VARS" :entity="entity" :targetPrefix="targetPrefix" :PREFIX="PREFIX" :tabs="tabs" />

{% endblock %}
