{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ action }}</h1>

    {{ block('crudform') }}

    <ul>
        <li>
            <a href="{{ backlink }}">{{ backmessage|trans }}</a>
        </li>
    </ul>
{% endblock %}
