{% extends 'bootstrap_3_layout.html.twig' %}

{% block vmailbundle_alias_widget %}
    <tr>
        <td>{{ form_widget(form.addressname) }}</td>
        <td>{{ form_widget(form.active) }}</td>
        <td><a href="#" class="delete-aliasname btn btn-danger">X</a></td>
    </tr>
{%- endblock vmailbundle_alias_widget %}
