{% extends 'bootstrap_3_layout.html.twig' %}

{% block vmailbundle_user_addressnames_widget %}
    <tr>
        <td>{{ form_widget(form.aliasname) }}</td>
        <td>{{ form_widget(form.active) }}</td>
        <td><a href="#" class="delete-alias btn btn-danger">X</a></td>
    </tr>
{%- endblock vmailbundle_user_addressnames_widget %}
