{% extends 'bootstrap_3_layout.html.twig' %}

{% block appbundle_aliases_widget %}
    <tr>
        <td>{{ form_widget(form.name) }}</td>
        <td>{{ form_widget(form.active) }}</td>
        <td><a href="#" class="delete-alias btn btn-danger">X</a></td>
    </tr>
{%- endblock appbundle_aliases_widget %}

{% block appbundle_virtuals_widget %}
    <tr>
        <td>{{ form_widget(form.name) }}</td>
        <td>{{ form_widget(form.active) }}</td>
        <td><a href="#" class="delete-virtual btn btn-danger">X</a></td>
    </tr>
{%- endblock appbundle_virtuals_widget %}
