      {% if is_granted('ROLE_MANAGER') %}
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Management{% endtrans %}<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li role="separator" class="divider"></li>
            <li><a href="{{ path('manage_user_index')}}">{% trans %}Domain users{% endtrans %}</a></li>
        </ul>
        </li>
      {% endif %}
      {% if is_granted('ROLE_ADMIN') %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}Admin{% endtrans %}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="separator" class="divider"></li>
            <li><a href="{{ path('admin_domain_index')}}">{% trans %}Domain administration{% endtrans %}</a></li>
          </ul>
        </li>
      {% endif %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('logout') }}">{% trans %}Logout{% endtrans %}</a></li>
    {% else %}
        <a href="{{ path('login') }}">{% trans %}Log in{% endtrans %}</a></li>
    {% endif %}
