{% extends ajax is defined and ajax ? "empty.html.twig" : "base.html.twig" %}

{% block content -%}
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <div class="modal-header">
          <h4 class="modal-title">{% trans %}Domain creation{% endtrans %}</h4>
        </div>

    {{ form_start(form) }}
    {% if errors is defined and errors %}
        {% if form.vars.errors is defined %}
            <div class="alert alert-danger alert-dismissable">
            {% for error in form.vars.errors %}
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <h4><i class="icon-remove-sign"></i> Error</h4>{{ error.message|trans }}
            {% endfor %}
            </div>
        {% else %}
        <div class="alert alert-danger alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <h4><i class="icon-remove-sign"></i> Error</h4>
            Se han producido algunos errores y no se ha podido guardar la información.<br/>
            Revise los datos introducidos.
        </div>
        {% endif %}
    {% endif %}
    <div class="form-title">
        {% if pageTitle is defined %}<h2>{{ pageTitle }}</h2>{% endif %}
    </div>
    <div class="box box-primary">
        <div class="box-body">
            {% block body %}{% endblock %}
            <div class="form-actions">
                {% block buttons %}{% endblock %}
            </div>

        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
